.deletebtn{
    padding: 8px;
    background-color: #5DA4A5;
    color:white;
    border:none;
    font-size: 18px;
}
.deletebtn:active{
    background-color: black;
}
.clearspan{
    margin: 0;
    background-color: #F3F6F5;
    color: #5DA5A4;
    /* line-height: 32px;
    line-height: 16px; */
}
@media only screen and (max-width: 950px) {
    .clearspan{
        font-size: 12px;
        font-weight: 12px;
    }
    .deletebtn{
        font-size: 12px;
    }
    .clearbtn{
        font-size: 12px;
    }
}